/* 300x120 */


/* settings panel + game page bg*/
.layer-3QrUeG[aria-label="USER_SETTINGS"],
.layer-3QrUeG[aria-label="CHANNEL_SETTINGS"],
.layer-3QrUeG[aria-label="GUILD_SETTINGS"] ,
.scroller-1IIF0A,
.scroller-2XE8rp, 
.header-39GIC8 {
	background-color: rgba(1,1,1,0.33)!important;
}


/* text under name */
.container-YkUktl:before,
.container-YkUktl:after{
	display: none;
	
}
.container-YkUktl {
	margin-bottom: 0px;
}

.container-3baos1{
	margin-bottom: 0px!important;
}

/* better formating, opaque*/
.bf-toolbar::before {
	background: transparent!important;
	background-color: rgba(1,1,1,0.33)!important;
	border-radius: 10px!important;
}

/* remove bg for free emotes */

.embed-IeVjo6 {
    background: rgba(0, 0, 0, 0);
}

/* hide buttons */
.button-f2h6uQ[aria-label="Send a gift"], 
.button-f2h6uQ[aria-label="Open sticker picker"], 
.button-f2h6uQ[aria-label="Open GIF picker"] {
	display: none;	
}


/* permission modal */
#permissions-modal-wrapper #permissions-modal{
	border-radius: 10px!important;	
	height: auto!important;
}


#permissions-modal-wrapper .modal-body,
.role-side,
.header,
.perm-side,
.bd-emote-content {
	background-color: rgba(1,1,1,0.15)!important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}
}

.ShowHiddenChannels-modal,
.scroller-2TZvBN,
.scroller-2TWLdf.thin-1ybCId,
.modal-yWgWj-{
	background-color: rgba(20,20,20,0.7)!important;
}


/* Profile popout */
.focusLock-2tveLW[aria-label="User Profile Modal"],
.root-8LYsGj {
	width: 45vw!important;	
	height: 70vh;
}

.profileBanner-1owKI5 {
	width: 45vw;
	height: 20vh;
}

.body-1Ukv50 {
	height: 42.6vh;
}

.profileBannerPremium-35utuo{
	width: 18vw;
}


 /* profile modal */

.userPopout-2j1gM4 {
	width: auto!important;
	min-width: 250px!important;
	max-width: 400px!important;	
	margin-top: -20px!important;
}

.ShowAllActivities-wrapper-controls {
	background: transparent!important;
}

.popoutBanner-3cqRD9,
.popoutBannerPremium-3i5EEI {
	width: 400px;
}
.popoutBannerPremium-3i5EEI {
	height: 160px;
}

.avatarPositionPremium-1zPBq9 {
	top: 120px;
}



/* bigger emoji preview*/
.primaryEmoji-2Og_xG {
	width: 5rem!important;
	height: 5rem!important;
	min-height: 5rem!important;
	min-width: 5rem!important;
}


/* member in memberlist*/
#MemberCount{
	background: unset!important;
	margin-top: -20px!important;
}

/* hide channel invite / settings buttons*/
.iconItem-1EjiK0[aria-label="Create Invite"],
.iconItem-1EjiK0[aria-label="Edit Channel"] {
	display: none!important;
}


/* hide nitro in dms */
.channel-1Shao0[href$="store"] {
	display: None;
}


/* emote picker */
.positionContainer-dMArNx {
	height: 60vh;
}

/* reaction emote picker*/
.emojiPicker-6YCk8a {
	height: 60vh;
	width: 61vh;
}


/* School hubs */
.pageContainer-36uo3F,
.card-3N2v9t,
.splash-1Rnkv- {
	background-color: rgba(1,1,1,0.4)!important;
}

.lookFilled-yCfaCM.colorGrey-2iAG-B {
	background-color: hsl(139,calc(var(--saturation-factor, 1)*47.3%),13.9%)!important;
}

/* unread badge */
.mentionsBadge-2ckrKL > .numberBadge-37OJ3S {
	background-color: rgba(255,255,255,0.1)!important;
	box-shadow: 
		0 0 10px -3px rgba(255,255,255,0.1),
		0 0 0 1px rgba(255,255,255,0.1);
}
.numberBadge-37OJ3S {
	background-color: rgba(255,255,255,0.1)!important;
	box-shadow: 
		0 0 10px -3px rgba(255,255,255,0.1),
		0 0 0 1px rgba(255,255,255,0.1);
}
